#committee_link {
  border: 1px solid lightgray;
  padding-left: 5px;
  float: left;
}

.invite-users-link {
  padding-left: 5px;
}

#initiatives_type_remove_banner_image {
  display: none;
}

#initiatives_type_remove_banner_image + label {
  display: none;
}

.text-right {
  text-align: right !important;
}