<ul>
  <li>Revisa el contingut de la teva iniciativa. És entenedor el títol? Queda clar l’objectiu de la iniciativa?</li>
  <li>Cal seleccionar el tipus de signatura. Presencial, digital o mixta</li>
  <li>En quin àmbit geogràfic es desenvolupa la iniciativa? Ciutat, districte?</li>
</ul>
<%= link_to '(Mes informació)', decidim.page_path('initiatives'), target: '_blank' %>.