<ul>
  <li>Revisa el contenido de tu iniciativa</li>
  <li>Recuerda que la recogida de firmas debe ser digital, presencial o mixta</li>
  <li>Tienes que seleccionar el ámbito de tu iniciativa: ciudad, distrito, barrio, etc...</li>
</ul>
<%= link_to '(Mas información)', decidim.page_path('initiatives'), target: '_blank' %>.