<ul>
  <li>Check the content of your initiative</li>
  <li>Remember that the signature type must be on-line, face-to-face or mixed</li>
  <li>You must select the scope of the initiative: city, district, neighborhood, etc...</li>
</ul>
<%= link_to '(More information)', decidim.page_path('initiatives'), target: '_blank' %>.