<ul>
  <li>Revisa el contenido de tu iniciativa. ¿Es comprensible el título? ¿Queda claro el objetivo de la iniciativa?</li>
  <li>Hay que seleccionar el tipo de firma. Presencial, digital o mixta</li>
  <li>¿En qué ámbito geográfico se desarrolla la iniciativa? ¿Ciudad, distrito?</li>
</ul>
<%= link_to '(Mas información)', decidim.page_path('initiatives'), target: '_blank' %>.