<ul>
  <li>Revise the content of your initiative. Is your title easy to understand? Is the objective of your initiative clear?</li>
  <li>You have to choose the type of signature. In-person, online or a combination of both</li>
  <li>Which is the geographic scope of the initiative? City, district?</li>
</ul>
<%= link_to '(More information)', decidim.page_path('initiatives'), target: '_blank' %>.