<ul>
  <li>Revisa el contingut de la teva iniciativa</li>
  <li>Recorda que la recollida de firmes deu ser digital, presencial o mixta</li>
  <li>Tens que sel·leccionar l'àmbit de la teva iniciativa: ciutat, districte, barri, etc...</li>
</ul>
<%= link_to '(Mes informació)', decidim.page_path('initiatives'), target: '_blank' %>.