<p>
  Recorda que per tramitar correctament la iniciativa cal que accedeixis al panell d’administració que trobaràs al menú d’usuari, pujar la informació requerida
  i enviar-la a tràmit.
</p>
<ul>
  <li>
    Si ets una associació, hauràs de pujar l’acta signada dels òrgans de direcció de les organitzacions membres de la Comissió Promotora
  </li>
  <li>
    Si has seleccionat l’opció de recollida de firmes presencial o mixta, hauràs de pujar la informació requerida
  </li>
</ul>

<p>
  Pots consultar tota aquesta informació a la <%= link_to "pàgina", decidim.page_path("initiatives"), target: "_blank" %>
  d’informació d’iniciatives.
</p>

<p>Recorda que sempre podràs accedir a les teves iniciatives des del menú d’usuari</p>
