<p>
  Recuerda que para tramitar correctamente la iniciativa tienes que acceder al panel de administración que en el menú de usuario, subir la información requerida
  y enviarla a trámite.
</p>
<ul>
  <li>
    Si eres una asociación, deberás subir el acta firmada de los órganos de dirección de las organizaciones miembros de la Comisión Promotora
  </li>
  <li>
    Si has seleccionado la opción de recogida de firmas presencial o mixta, deberás subir la información requerida
  </li>
</ul>

<p>
  Puedes consultar toda esta información en la <%= link_to "página", decidim.page_path("initiatives"), target: "_blank" %> de información de
  iniciativas.
</p>

<p>Recuerda que siempre podrás acceder a tus iniciativas desde el menú de usuario.</p>
