<p>
  Recorda que per a tramitar correctament la iniciativa tens que accedir al panel d'administració de la teua
  iniciativa, pujar la informació requerida i enviar-la a tràmit.
</p>
<ul>
  <li>
    Si eres una associació deuràs pujar l'acta signada dels òrgans de direcció de les organitzacions membres de la
    Comisió promotora.
  </li>
  <li>
    Si has triat l'opció de recollida de firmes presencial o mixta deuras pujar l'informació requerida.
  </li>
</ul>

<p>
  Pots consultar tota aquesta informació en la pàgina de
  <%= link_to "informació d'iniciatives", decidim.page_path('initiatives'), target: '_blank' %>.
</p>

<p>Recorda que sempre podràs accedir a les teues iniciatives des d'el teu menu d'usuari</p>