<p>
  Recuerda que para tramitar correctamente la iniciativa tienes que acceder al panel de administración de
  tu iniciativa, subir la información adjunta requerida y enviar a trámite.
</p>
<ul>
  <li>
    Si eres una asociación deberás subir el acta firmada de los órganos de dirección de las organizaciones miembras
    de la Comisión promotora.
  </li>
  <li>
    Si has elegido la opción de recogida de firmas presencial o mixto deberás subir la información requerida.
  </li>
</ul>

<p>
  Puedes consultar toda esta información en la página de <a href="#" target="_blank">información de iniciativas</a>.
</p>

<p>Requerda que siempre podrás acceder a tus iniciativas desde tu menu de usuari@</p>