<p>
  Remember that in order to properly process the initiative you must access the administration panel where you will find the user menu,
  upload the information required and send it to procedure.
</p>
<ul>
  <li>
    If you are an association you will have to upload the minutes of the management board of all the organisations that
    conform the Promoting Commission
  </li>
  <li>
    If you have chosen to collect the signatures in-person or combined with online, you will have to upload the required information.
  </li>
</ul>

<p>
  You can look up all this information on the <%= link_to "page", decidim.page_path("initiatives"), target: "_blank" %>.
  dedicated to inform about initiatives
</p>

<p>Remember that you will always be able to access your initiatives through the user menu.</p>
