<p>
  Remember that in order to correctly process your initiative you must access to the administration panel of your
  initiative, attach the required information and send it to technical validation.
</p>
<ul>
  <li>
    If you are an organization is mandatory to attach the signed act of the direction organs of the organizations that are part
    of the Promoter Committee.
  </li>
  <li>
    If you have chosen collecting face-to-face or mixed signatures you will need to attach the required information.
  </li>
</ul>

<p>
  You can check all this information at the <a href="#" target="_blank">Initiative's information page</a>.
</p>

<p>Remember that your initiatives will be always available from your user menu</p>