<%= decidim_form_for @form, html: { class: 'form edit_initiative' } do |f| %>
  <%= render partial: 'form', object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t('.update'), class: 'button' if can? :update, current_initiative %>
  </div>
<% end %>
