<ul class="tags tags--initiative" >
  <% if resource.scope.present? %>
    <li><%= link_to translated_attribute(resource.scope.name), initiatives_path(filter: { scope_id: [resource.scope.id] }) %></li>
  <% end %>
</ul>