<% if can? :send_to_technical_validation, @initiative %>
  <div class="row">
    <div class="columns large-12">
      <div class="card">
        <div class="section">
            <%= link_to t('.send_to_technical_validation'),
                        send_to_technical_validation_initiative_path(@initiative),
                        class: 'button expanded',
                        data: { confirm: t('.confirm') }   %>
        </div>
      </div>
    </div>
  </div>
<% end %>
